 <div class="dogbanner">
  <div class="banner-content">
    <div class="text-content">
      <div class="text">
          <h1>Le Wagon's Dogs</h1>
          <p>Awesome Companions for a everyones life</p>
      </div>
    </div>
    <div class="index-add-button">
        <%= link_to "Add a dog", new_dog_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>