<h1> Dogs </h1>

<div class="container">
	<%= link_to "Add a dog", new_dog_path, type: "button", class:"btn btn-outline-secondary" %>
</div>

<div class="card-container">
  <div class="row">
    <% @dogs.each do |dog| %>
    <div class="col-sm-4">
      <div class="card-dog p-0">
        <img src="#" >
        <div class="card-dog-info">
          <div class="card-dog-text">
            <h2> <%= Dog.last.name %> </h2>
            <p> <%= Dog.last.breed %> </p>
          </div>
          <%= link_to "View", dog_path(dog.id), type: "button", class:"btn btn-secondary btn-sm" %>
          <!-- 	<img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" /> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
