<div class="banner">
  <div class="home-container">
    <h1>"Life without a dog is like an unsharpened pencil. It has no point."<h1>
    <h3>Find your new best friend and book him today!</h3>
    <%= link_to "View Dogs", dogs_path, type: "button", class: "btn btn-outline-light" %>
    <!-- <button type="button" class="btn btn-outline-light">View Dogs</button> -->
  </div>
</div>
