.banner {
  background-image: url('https://images.unsplash.com/photo-1601758174811-a04aad8f2245?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.banner h1 {
  color: white;
  font-family: $headers-font;
  font-weight: 500;
  text-align: center;
  font-size: 50px;
}

.banner h3 {
  font-family: $headers-font;
  text-align: center;
  margin-top: 100px;
  font-style: bold;
  line-height: 1.8;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.home-container {
  max-width: 1000px;
}
