.banner {
  background-image: url('https://images.unsplash.com/photo-1489417139533-915815598d31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2010&q=80');
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.banner h1 {
  color: white;
  font-family: $headers-font;
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  padding: 30px;
  text-shadow: 0.5px 0.5px 5px black;
}

.banner h3 {
  font-family: $headers-font;
  text-align: center;
  margin: 0;
  font-style: italic;
  line-height: 1.8;
  font-size: 20px;
  color: white;
  text-shadow: 0.5px 0.5px 5px black;
  padding: 20px;
}

.container {
  text-align: center;
}

.dogbanner {
  background-color: white;
  padding-top: 50px;
  position: relative;
  .text {
    position: absolute;
    top: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .text p {
    color: black;
  }
  .text-content {
    display: flex;
    justify-content: center;
  }
}



.banner-content {
  background-image: url('https://image.shutterstock.com/image-vector/dogs-banner-260nw-441292900.jpg');
  opacity: 0.8;
  width: 100%;
  background-position: 5px 5px 5px;
  height: 250px;
  width: 97%;
  margin: 20px auto;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: black;
  padding-bottom: 0px;
}

.index-add-button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
