.card-dog {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 0px;
  padding: 0;
}

.card-dog img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-dog h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dog p {
  font-size: 12px;
  opacity: .7;
  padding-top: 10px;
}

.col-sm-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.card-dog .card-dog-info {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
 }

.card-dog .card-dog-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-dog-text {
  color: $dark-dark;
}

*, *::before, *::after {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: content-box;
}

.dog-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: .2s ease;
  background-color: #868265;
  color: white;
}

.dog-container:hover .overlay {
  opacity: 0.5;
}