.card-body {
 width: 50px;
 padding: 0;
}


.card-dog .card-dog-info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
 }

.card-dog .card-dog-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

*, *::before, *::after {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: content-box;
}


.dog-list-container {
  justify-content: center;

.my-bookings-card {
  background: white;
  color: $dark-green;
  border-radius: 3px;
  border: 1px solid rgb(235,235,235);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  margin: auto;
  max-width: 500px;
  height: 130px;
  margin-bottom: 30px;
}

.my-bookings-card-info {
  flex-grow: 1;
  padding: 0 24px;
}

.my-bookings-card-info p {
  margin: 0;
}

.my-bookings-card img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.my-bookings-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.my-bookings-card:hover .my-bookings-actions {
  opacity: 1;
}

.my-bookings-card .my-bookings-actions {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.my-bookings-card .my-bookings-actions:hover {
  color: #555555;

}
