.show-container img {
  height: 300px;
  border-radius: 3px;
  box-shadow: 0.2px 0.2px 1px black;
  margin-right: 20px;
}

.show-container {
  text-color: $dark-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

.show-container p {
  color: $dark-dark;
}

.show-container h3 {
  color: $dark-dark;
}

.back-link a {
  margin: 20px;
  text-color: $dark-dark;
  text-decoration: none;
}
