// .navbar {
  // background: $light-light;
  // font-family: $headers-font;
// }

// #navbarTogglerDemo02 {
  // display: flex;
  // justify-content: flex-end;
  // justify-content: space-between;
// }


.navbar-lewagon {
  background: $light-light;
  justify-content: space-between;
  font-family: $body-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: $headers-font;
}

.nav-item {
  font-family: $headers-font;
  color: black;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
 }

 .nav-itemlc {
  font-family: $body-font;
 }

.navbar-nav {
  display: flex;
  align-items: center;
}
